{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/partner.css">
{% endblock %}
{% block content %}
	<header>
		<h1 class='headerTitle'>L'abeille Olivetaine</h1>
		<h2 class="citation">"Quand les abeilles ne butineront plus, la planète sera en grand danger."</h2>
		<h3 class="autor">Jean-Pierre Szymaniak</h3>
	</header>
	<main class="container">
		<section>
			<h1>Présentation</h1>
			<h2>L’abeille olivetaine a pour objectifs</h2>
			<ul>
				<li>De s’adresser à tous</li>
				<li>De favoriser et de promouvoir le développement et la connaissance de l’abeille et de son habitat</li>
				<li>De favoriser et de promouvoir le développement de l’apiculture à Olivet et dans ses environs</li>
			</ul>
			<h2>Ces objectifs sont atteints</h2>
			<ul>
				<li>Par de l’information,</li>
				<li>Par de la communication auprès des jeunes en particulier,</li>
				<li>Par l’organisation et / ou la participation à des manifestations</li>
				<li>Par de la formation théorique et pratique à l’abeille et l’apiculture</li>
				<li>
					Par de la gestion de petits «ruchers associatifs » : accueil et exploitation des ruches de l’abeille olivetaine ou de ruches des membres de l’association.
				</li>
				<li>Par du conseil et de l’assistance aux nouveaux apiculteurs en particulier.</li>
			</ul>
		</section>
<<<<<<< HEAD
        <section>
            <h1>Nos derniers évènements</h1>
            <div class="grid">
            {% for event in events %}
                <article >
                    <img class="image" src="{{event.image ?? 'assets/images/placeholder.jpg'}}" alt='image event'>
                    <div class="card">
                        <h2> {{event.name}}</h2>
                        <p>{{event.location}}</p>
                        <p class="date"> {{date(event.date)|date("d/m/Y")}}</p>
                        <p> {{event.description}}</p>   
                    </div>
                </article>
            {% endfor %}
            </div>
        </section>
=======
		<section>
			<h1>
				Nos derniers évènements</h1>
			<div class="grid">
				{% for event in events %}
					<article>
						<img class="image" src="{{event.image ?? 'assets/images/placeholder.jpg'}}" alt='image event'>
						<div class="card">
							<h2>{{event.name}}</h2>
							<p class="lieu">
								<svg class="svgView" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
									<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
									<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
								</svg>{{event.location}}</p>
							<p class="date">
							<svg class="svgView" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 16 16">
									<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
									<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
								</svg>
								{{date(event.date)|date("d/m/Y")}}</p>
							<p>{{event.description}}</p>
						</div>
					</article>
				{% endfor %}
			</div>
		</section>
>>>>>>> 44bca4bcd6531e0ddbfdf468e8832fdbf13df9a4
	</main>
	{% include "Home/_partner.html.twig" %}
{% endblock %}
