{% extends 'layout.html.twig' %}
<<<<<<< HEAD
{% block stylesheet %}
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/partner.css">
	<link rel="stylesheet" href="/assets/css/footer.css">


=======
{% block title %}
	{{parent()}}
	Admin|Partenaire
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin.css">
>>>>>>> 8d03c8fcb116d72034d3dabef63d4ed84a4532ab
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
	<main class="container">
		<h1>Administration des partenaires</h1>
		<a href="/admin/partenaire/ajouter" role="button">Ajouter</a>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Lien</th>
				</tr>
			</thead>
			<tbody>
				{% for partner in partners %}
					<tr>
						<td>{{ partner.name }}</td>
						<td>{{ partner.link }}</td>
						<td>
							<form action="/admin/partenaire/supprimer?id={{ partner.id }}" method="POST">
								<button class="outline" name="id">Supprimer</button>
							</form>
							<a role="button" href="/admin/partenaire/modifier?id={{ partner.id }}">Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
{% block footer %}{% endblock %}
