{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/asso.css">
{% endblock %}
{% block content %}
	<header class="header">
		<h1>L'association</h1>
	</header>
	<main class="container">
		<section>
			<p>
				L’Abeille olivétaine est une association loi 1901
				qui a pour but de promouvoir la connaissance des abeilles auprès du grand public.
			    Elle travaille également en relation avec les apiculteurs.
			</p>
		</section>
		<section>
			<h2>Tous les évènements</h2>
			<div class="grid">
				{% for event in events %}
					<article>
						<img class="image" src="{{event.image ?? 'assets/images/placeholder.jpg'}}" alt='image event'>
						<div class="card">
							<h2>
								{{event.name}}</h2>
							<p>{{event.location}}</p>
							<p class="date">
								{{date(event.date)|date("d/m/Y")}}</p>
							<p>
								{{event.description}}</p>
						</div>
					</article>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
